@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --hover-color: #2E62A6;
}

.header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 60px;
}

.header a {
    padding: 0.5em 2em;
    color: black;
    text-decoration: none;
    transition: background 1s;
    border-radius: 10px;
}

.header a:hover {
    color: white;
    background: var(--hover-color);
}


/* Main Section */

.main {
    width: 100%;
    height: 35em;
    background: url(/bg/b.jpg);
    background-size: cover;
    padding: 5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnPro {
    width: 150px;
    height: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    color: white;
    background: var(--hover-color);
    cursor: pointer;
}

.btnPro:hover {
    color: white;
}

.courseBtn {
    margin-top: 12em;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 35px;
}

.main .left p {
    color: rgb(144, 144, 144);
    margin: 20px 0;
}

.right img {
    width: 25em;
}


/* Course Content */

.frontend {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowR {
    flex-direction: row-reverse;
}

.frontend .right img {
    width: 20em;
}


/* Media Query */

@media (max-width: 1000px) {
    body {
        font-size: 10px;
    }
    .right img {
        width: 40em;
    }
    .courseContent {
        width: 70%;
    }
    .frontend .right img {
        width: 15em;
    }
}

@media (max-width: 700px) {
    body {
        font-size: 10px;
    }
    .main {
        height: 50em;
    }
    .right img {
        width: 25em;
    }
    .courseContent {
        width: 75%;
    }
    .frontend .right img {
        width: 15em;
    }
}

@media (max-width: 600px) {
    .frontend,
    .rowR {
        flex-direction: column-reverse;
    }
}

@media (max-width: 460px) {
    body {
        font-size: 8px;
    }
}


/* Highlights */

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highlights .box {
    /* border: 2px solid #2E62A6; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.102);
    padding: 10px 15px;
    margin: 0 10px 10px 0;
}

.accordion {
    background: #2E62A6;
}


/* otherDetails */

.otherDetails {
    padding: 3em;
}

.otherDetails h4 {
    color: #2E62A6;
}


/* testimonials */

.testimonials {
    padding: 3em;
    background: #2E62A6;
    color: white;
}

.testimonialsCard {
    background: white;
    color: black;
    padding: 2em;
    margin: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.171);
}

.testimonialsCard p {
    color: rgb(83, 83, 83);
}